SNIPEIT_BASE_URL=https://xxxxxxxxxxxxxxxxx.com
SNIPEIT_API_TOKEN=replace-with-snipeit-token
GOOGLE_CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/...

AWS_REGION=ap-southeast-1
PROJECT_NAME=xxxxx-notification
API_STAGE_NAME=prod
WEEKLY_SCHEDULE_EXPRESSION=cron(0 2 ? * MON *)
DEPLOYED_STATUS_NAMES=Deployed,In Use
AVAILABLE_STATUS_NAMES=Ready,Available